extends layout

block content
    div.content
        | This is the countriesPage: views/countriesPage.pug
        div.container
            ul
                for country in countries
                    li
                        a(href="/countries/" + country.name)
                            =country.name